.mypage {
    width:600;
    display: grid;
    margin: 10px;
    
grid-gap: 10px;
grid-template-columns: 200px 200px 200px;
grid-template-rows: 100px 500px;
grid-template-areas:
    "name photo surname"
    "photos photos photos";
}

.name {
    grid-area: name;
background: black;
    
}

.photo{
    grid-area: photo;
background: black;

}

.surname {
    grid-area: surname;
background: black;
    
}

.photos {
    grid-area: photos;
background: black;
    
}